img {
  display: block;
}
.conteiner {
  width: 1900px;
}
.picture-h1 {
  display: flex;
  align-items: center;
  background-color: #313131;
  color: #ffffff;
}
.logo {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: 30px;
}
.list-header {
  margin-left: auto;
  margin-right: auto;
}

.list {
  display: flex;
  justify-content: center;
}
.list-li {
  margin-left: 35px;
}
.list-link {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}
.list-link:hover {
  color: #14b9d5;
}
.img-search {
  margin-left: auto;
}

.hero {
  background-image: url(../img/header-bg.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 165px;
}
.hero-title-h1 {
  font-family: Open Sans;
  font-style: normal;
  color: #ffffff;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
}
.hero-button {
  margin-top: 45px;
}
.hero-button-li {
  display: flex;
  justify-content: center;
  padding-bottom: 75px;
}

.button-li {
  padding: 15px 20px 15px 20px;
  background-color: #89ca62;
  border-radius: 4px;
  color: #ffffff;
  border: none;
  font-family: Open Sans;
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  cursor: pointer;
}
.button {
  padding: 15px 20px 15px 20px;
  background-color: #14b9d5;
  border-radius: 4px;
  margin-left: 20px;
  color: #ffffff;
  border: none;
  font-family: Open Sans;
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  cursor: pointer;
}
.title-posts {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #18b4cf;
  background-color: #f2f2f2;
  padding-top: 50px;
}
.title-background {
  background-color: #f2f2f2;
}
.title-card {
  display: flex;
  align-items: center;
  align-items: flex-start;
}
.title-card-p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
  background-color: #ffffff;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
  padding: 20px 14px 20px 14px;
}
.portfolio {
  width: 1170px;
  height: 838px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 70px;
}

.title-card-p {
  align-self: center;
}
.portfolio-list {
  padding-left: 30px;
  padding-bottom: 30px;
  width: 370px;
  text-align: center;
}
.no-padding {
  padding-bottom: 0px;
}

.title-clients-image {
  background-image: url(../img/parallax-bg.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.title-clients {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 105px;
  padding-bottom: 90px;
}
.line {
  background: #18b4cf;
  width: 60px;
  height: 3px;
  border: 1px solid transparent;
  margin-bottom: 100px;
}

.list-post {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 190px;
  margin-bottom: 50px;
}
.list-item {
  margin-left: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.list-top-h2 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #18b4cf;
}
.grid {
  display: grid;
  grid-template-areas: "item item item item item item item";
  margin-top: 50px;
}
.grid-item {
  width: 271px;
  height: 190px;
}
.text-news {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #18b4cf;
  margin-top: 50px;
  margin-bottom: 50px;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 277px);
  grid-template-rows: 260px 420px 420px 260px;
  grid-gap: 20px;
  justify-content: center;
}
.item-post {
  background-color: #f9f7f7;
  text-align: right;
}
.text-item {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  padding-left: 20px;
  padding-right: 20px;
  color: #5b6469;
}
.title-item {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-right: 15px;
  color: #353a3d;
}
.item-post:nth-child(1) {
  display: flex;
  grid-column: 1/4;
}
.item-post:nth-child(2) {
  text-align: center;
  grid-column: 4/5;
}
.item-post:nth-child(3) {
  grid-column: 1/3;
  width: 555px;
}
.item-post:nth-child(4) {
  grid-column: 3/5;
  width: 555px;
  justify-content: end;
}
.item-post:nth-child(5) {
  grid-column: 1/3;
  width: 555px;
}
.item-post:nth-child(6) {
  grid-column: 3/5;
  width: 555px;
  justify-content: end;
}
.item-post:nth-child(7) {
  text-align: center;
  grid-column: 1/2;
}
.item-post:nth-child(8) {
  display: flex;
  grid-column: 2/5;
}
.texst-Amazing {
  display: inline-block;
}
.footer {
  background-color: #000000;
  margin-top: 75px;
  display: flex;
  justify-content: space-between;
}
.footer-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 13px;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 365px;
}
.footer-img {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 380px;
}
